POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword123
POSTGRES_DB=flashcards

PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_NAME=${POSTGRES_DB}
DB_SSLMODE=disable

JWT_SECRET=change-this-in-real-use
JWT_EXPIRY_MINUTES=120