POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword123
POSTGRES_DB=flashcards
JWT_SECRECY=my-super-secret-jwt-key-123

PORT=8080

DB_HOST=localhost
DB_PORT=5433
GO_POST=5432
DB_USER=postgres
DB_PASSWORD=mysecretpassword123
DB_NAME=flashcards
DB_SSLMODE=disable

JWT_SECRET=my-super-secret-jwt-key-123
JWT_EXPIRY_MINUTES=120
